.main-container{
  max-width: 768px;
  margin: 80px auto;
}

.foot-desc{
  text-align: center;
  color: #909399
}
.btn{
  margin: 20px auto;
  display: block;
}

.tag{
  text-align: center;
}

.radio-type{
  margin: 10px auto;
}

.wrap{
  width: 100%;
  height: 384px;
  position: relative;
  overflow: hidden;
}

#canvasAxis,#canvasContent{
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvasAxis{
  z-index: 1;
}

#canvasContent{
  z-index: 2;
}